{
  "presets": ["env", "stage-0", "react"],
    "env": {
    "targets": {
       "node": "current"
    },
    "development": {
      "plugins": ["transform-react-jsx-source", "react-hot-loader/babel"]
    }
  }
}
