@import url("~typeface-dosis");

.theme-dark{
    --Bg-color: #17181b;
    --Nav-color: rgba(33,34,37,0.95);
    --Main-color: #2d72d9;
    --Input-bg-color: #121315;
    --Font-normal: 'Arial', sans-serif;
    --Font-title: 'Dosis SemiBold', sans-serif;
    --Button-hover:  #225694;
    --Button-active: #2468cc;
}
