// Disable IE Vendor Patches
support-for-ie = false
// Only use Webkit vendor prefixes
vendor-prefixes = webkit official

global-reset()

$TitleHeight = 32px
$FilterBarHeight = 50px
$HeaderHeight = 82px
$MovieListPadding = calc(100% - 67px)

//@import 'fonts'
@import 'misc'
@import 'bootstrap-theme'
//@import 'button'

@import 'theme'