// Gives nicer scrollbars to an element
scrollable()
    overflow-x: hidden

    // Overflow: overlay is an undocumented webkit feature. It places the scrollbar *on top* of the content instead of eating some 16px.

    // It's buggy, though (it paints the scrollbar *over* the content and composites badly, so it will crop the content anyway )
    overflow-y: overlay

    // Inertial scrolling for touch devices (mostly useless here)
    overflow-scrolling: touch

    &::scrollbar
        width: var( --Scrollbar-size )

    &::scrollbar-track
        background-color var( --Scrollbar-track-bg )
        border-radius: var( --Scrollbar-radius )
        margin: 5px 0

    &::scrollbar-thumb
        background-color: var( --Scrollbar-thumb-bg )
        border-radius 2px

        &:hover
            background-color:  var( --Scrollbar-thumb-hover )

    &::resizer,
    &::scrollbar-corner,
    &::scrollbar-button,
    &::scrollbar-track-piece
        display none
