// Gives nicer scrollbars to an element
scrollable()
    overflow-x: hidden
    
    // Overflow: overlay is an undocumented webkit feature. It places the scrollbar *on top* of the content instead of eating some 16px.
    // It's buggy, though (it paints the scrollbar *over* the content and composites badly, so it will crop the content anyway )
    overflow-y: overflow
   
   // Inertial scrolling for touch devices (mostly useless here)
    overflow-scrolling: touch
    
overlay(type)
    margin: auto
    position: type
    top: 0
    left: 0
    right: 0
    bottom: 0
